html, body {
	height: 100%;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
}

a {
	color: #0000FF;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

.container {
	width: 1000px;
	margin: 0px auto;
}

#header {
	overflow: hidden;
	width: 900px;
	margin:0 auto;
	height: auto;
	padding: 0px 50px;
	background: url(images/gradient-bg.png) no-repeat center top;
}

#page {
	overflow: hidden;
	width: 900px;
	padding: 70px 50px 50px 50px;
	background-color: #FFFFFF;
	border-radius: 10px 10px 0px 0px;
	margin:0 auto;
}

#page h2
{
	margin-bottom: 30px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #2B2B2B;
}


#table-design{
	width: 100%
	border: 3px solid #B0B0B0;
}

#table-design tbody {

	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
#table-design thead {
	text-align: left;
}
#table-design thead th {
	background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
	border: 1px solid #B0B0B0;
	color: #444;
	font-size: 16px;
	font-weight: bold;
	padding: 3px 10px;
}
#table-design td {
	padding: 3px 10px;
}
#table-design tr:nth-child(even) {
	background: #F2F2F2;
}